<div class="container">
	<h1>Add Banner</h1> <br>

	<form name="bannerform" ng-submit="add()" novalidate>
		<fieldset>
			<div class="form-group" ng-class="{'has-error': bannerform.filename.$invalid}">
				<label>Image</label>

				<input ng-file-upload name="filename" type="file" class="form-control">
				<input type="hidden" ng-model="banner.filename" ng-required="true">

				<span class="help-block" ng-show="bannerform.filename.$invalid && bannerform.filename.$touched">Please upload image</span>
			</div>

			<div class="form-group" ng-class="{'has-error': bannerform.title.$invalid}">
				<label>Title</label>
				<input name="title" type="text" ng-model="banner.title" ng-required="true" class="form-control">
				<span class="help-block" ng-show="bannerform.title.$invalid && bannerform.title.$touched">Please enter banner title</span>
			</div>

			<div class="form-group" ng-class="{'has-error': bannerform.description.$invalid}">
				<label>Description</label>
				<textarea name="description" ng-model="banner.description" ng-required="true" class="form-control"></textarea>
				<span class="help-block" ng-show="bannerform.description.$invalid && bannerform.description.$touched">Please enter banner description</span>
			</div>

			<div class="form-group" ng-class="{'has-error': bannerform.url.$invalid}">
				<label>Url</label>
				<input name="url" type="text" ng-model="banner.url" ng-required="true" class="form-control">
				<span class="help-block" ng-show="bannerform.url.$invalid && bannerform.url.$touched">Please enter banner url</span>
			</div>

			<div class="submit">
				<button type="submit" class="btn btn-success" ng-disabled="bannerform.$invalid">Submit</button>
			</div>
		</fieldset>
	</form>
</div>